<!DOCTYPE html>
<html lang="sk" class="govuk-template app-no-canvas-background">

<head>

    <meta charset="utf-8" />
    <title>Podstránka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {% load static %}

    <link rel="stylesheet" href="{% static 'MainPage/idsk-frontend-2.11.0.min.css'%}">
    <link rel="stylesheet" href="{% static 'MainPage/style.css'%}">
    <link rel="stylesheet" href="{% static 'CategoryPage/style.css'%}">
    <script src="{% static 'MainPage/idsk-frontend.min.js'%}"></script>

</head>

<body class="govuk-template__body ">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <style>
        @media screen and (max-width: 768px) { 
            .idsk-search-results--expand {
                display: none; 
            }
        }
        
    </style>

    <header class="idsk-header-web " data-module="idsk-header-web">
        <div class="idsk-header-web__scrolling-wrapper">
            <!-- Warning Banner Starts Here -->
            <div class="idsk-header-web__banner idsk-header-web__banner--warning">
                <div class="govuk-width-container">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <div class="govuk-body-s idsk-header-web__banner-title">
                                <div class="idsk-header-web__warning-icon"></div>
                                Upozornenie: Toto je testovacia verzia a slúži výhradne na demonštračné účely. Všetky
                                údaje a interakcie na tejto stránke sú fiktívne a riadia sa podľa zákona č. 18/2018 Z.
                                z. o ochrane osobných údajov.
                            </div>
                            <button class="idsk-header-web__banner-close" aria-label="Zavrieť banner"><span
                                    class="idsk-header-web__menu-close"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Warning Banner Ends Here -->
            <div class="idsk-header-web__tricolor"></div>

            <div class="idsk-header-web__brand ">
                <div class="govuk-width-container">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <div class="idsk-header-web__brand-gestor">
                                <span class="govuk-body-s idsk-header-web__brand-gestor-text">
                                    Testovacia stránka verejnej správy
                                </span>
                                <span class="govuk-body-s idsk-header-web__brand-gestor-text--mobile">
                                    SK
                                </span>

                            </div>
                            <div class="idsk-header-web__brand-spacer"></div>
                            <div class="idsk-header-web__brand-language">
                                <button class="idsk-header-web__brand-language-button"
                                    aria-label="Rozbaliť jazykové menu" aria-expanded="false"
                                    data-text-for-hide="Skryť jazykové menu"
                                    data-text-for-show="Rozbaliť jazykové menu">
                                    Slovenčina
                                    <span class="idsk-header-web__link-arrow"></span>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="idsk-header-web__main">
                <div class="govuk-width-container">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-grid-column-one-third-from-desktop">
                            <div class="idsk-header-web__main-headline">
                                <a href="/" title="Odkaz na úvodnú stránku">
                                    <img src="{% static 'MainPage/assets/images/slovenskosk.png'%}" alt="ID-SK Frontend"
                                        class="idsk-header-web__main-headline-logo">


                                </a>

                                <button class="idsk-button idsk-header-web__main-headline-menu-button"
                                    aria-label="Rozbaliť menu" aria-expanded="false" data-text-for-show="Rozbaliť menu"
                                    data-text-for-hide="Zavrieť menu">
                                    Menu
                                    <span class="idsk-header-web__menu-open"></span>
                                    <span class="idsk-header-web__menu-close"></span>
                                </button>
                            </div>
                        </div>

                        <div class="govuk-grid-column-two-thirds">
                            <div class="idsk-header-web__main-action">
                               

                                <div class="idsk-header-web__main--buttons">
                                </div>

                                <div class="idsk-header-web__main--buttons">
                                    <button type="button" class="idsk-button idsk-header-web__main--login-logoutbtn"
                                        data-module="idsk-button">
                                        Elektronické služby
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="idsk-header-web__nav--divider"></div>
            <div class="idsk-header-web__nav idsk-header-web__nav--mobile ">
                <div class="govuk-width-container">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">

                        </div>
                        <div class="govuk-grid-column-full">
                            <!-- Navigation block -->

                            <nav class="">
                                <!-- Unordered list to hold the navigation items -->
                                <ul class="idsk-header-web__nav-list" aria-label="Hlavná navigácia">
                                    <!-- Loop through each category passed from the context -->
                                    {% for category in categories %}
                                    <li class="idsk-header-web__nav-list-item">
                                        <!-- Check if the current category has subcategories -->
                                        {% if category.subcategories.all %}
                                        <!-- This link acts as a dropdown trigger for subcategories -->
                                        <a class="govuk-link idsk-header-web__nav-list-item-link" href="#"
                                            title="{{ category.name }}" aria-label="Rozbaliť {{ category.name }} menu"
                                            aria-expanded="false" data-text-for-hide="Zavrieť {{ category.name }} menu"
                                            data-text-for-show="Rozbaliť {{ category.name }} menu">
                                            {{ category.name }}
                                            <!-- Visual elements for the link indicating a dropdown -->
                                            <div class="idsk-header-web__link-arrow"></div>
                                            <div class="idsk-header-web__link-arrow-mobile"></div>
                                        </a>
                                        <!-- Submenu container for subcategories -->
                                        <div class="idsk-header-web__nav-submenulite">
                                            <!-- Unordered list to hold subcategories -->
                                            <ul class="idsk-header-web__nav-submenulite-list"
                                                aria-label="{{ category.name }} submenu">
                                                <!-- Loop through each subcategory of the current category -->
                                                {% for subcategory in category.subcategories.all %}
                                                <li class="idsk-header-web__nav-submenulite-list-item">
                                                    <!-- Link to the subcategory page -->
                                                    <a class="govuk-link idsk-header-web__nav-submenulite-list-item-link"
                                                        href="{{ subcategory.link }}" title="{{ subcategory.name }}">
                                                        <span>{{ subcategory.name }}</span>
                                                    </a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <!-- If there are no subcategories, just display a regular link -->
                                        {% else %}
                                        <a class="govuk-link idsk-header-web__nav-list-item-link"
                                            href="/kategoria/kat={{ category.id|slugify }}/zivotna=null/komu=null/oddelenie=null/text=null"
                                            title="{{ category.name }}">
                                            {{ category.name}}
                                        </a>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </header>


    <div class="govuk-width-container">
        <div class="px-4 py-5 my-5 text-center" style="
        background-image: url('/static/MainPage/assets/images/kategoria.jpg?width=3440;height=840');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 350px;
        margin-left: calc(-50vw + 50%);
        position: relative;
       ">
        </div>
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/"> Main Page</a>
                </li>
               
            </ol>
        </div>

        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
            <div class="idsk-search-results" data-module="idsk-search-results">
                <div class="idsk-search-results__title">
                    <h1 class="govuk-heading-xl">Výsledky vyhľadavania</h1>
                </div>

                <div class="govuk-grid-row undefined">
                    <div class="govuk-grid-column-one-quarter "><span
                            class="idsk-intro-block__search__span idsk-search-results--invisible__mobile">Vyhľadávanie
                        </span>
                        <div class="idsk-search-results__search-bar">
                            <div class="idsk-search-results__search-bar">
                                <div data-module="idsk-search-component" class="idsk-search-component idsk-search-component--small">
                                    <input class="govuk-input idsk-search-component__input idsk-search-component__input--small" placeholder="Zadajte hľadaný výraz" id="searchQuery" type="search" data-testid="sr-query" value="">
                                    <button id="searchButton" class="idsk-button idsk-search-component__button idsk-search-component__button--small">
                                        <span class="govuk-visually-hidden">Vyhľadávanie</span>
                                    </button>
                                </div>
                                
                            </div>
                        </div>
                       
                        <div data-module="idsk-search-results-filter" data-testid="sr-filter-publishers">
                            <div class="idsk-search-results__filter idsk-search-results-filter__filter-panel">
                                <div
                                    class="idsk-search-results__link-panel idsk-search-results--expand idsk-search-results__content-type-filter">
                                    <button class="idsk-search-results__link-panel-button"><span
                                            class="idsk-search-results__link-panel__title">Pre koho je článok urečený
                                        </span><span class="idsk-search-results__link-panel--span"></span></button>
                                    <div class="idsk-search-results__list"><input
                                            class="govuk-input idsk-search-results__search__input" type="text"
                                            title="Poskytovatelia dát" aria-label="Poskytovatelia dát" value="">
                                        <div class="idsk-option-select-filter ">
                                            <div class="govuk-form-group">
                                                <div class="govuk-checkboxes govuk-checkboxes--small"
                                                    id="targetAudiencesContainer">


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-module="idsk-search-results-filter">
                            <div class="idsk-search-results__filter idsk-search-results-filter__filter-panel">
                                <div
                                    class="idsk-search-results__link-panel idsk-search-results--expand idsk-search-results__content-type-filter">
                                    <button class="idsk-search-results__link-panel-button"><span
                                            class="idsk-search-results__link-panel__title">Oddelenie</span><span
                                            class="idsk-search-results__link-panel--span"></span></button>
                                    <div class="idsk-search-results__list"><input
                                            class="govuk-input idsk-search-results__search__input" type="text"
                                            title="Typ datasetu" aria-label="Typ datasetu" value="">
                                        <div class="idsk-option-select-filter ">
                                            <div class="govuk-form-group">
                                                <div class="govuk-checkboxes govuk-checkboxes--small"
                                                    id="departmentsContainer">
                                                    <!-- Dynamicky generované checkboxy pre oddelenia budú tu -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-module="idsk-search-results-filter">
                            <div class="idsk-search-results__filter idsk-search-results-filter__filter-panel">
                                <div
                                    class="idsk-search-results__link-panel idsk-search-results--expand idsk-search-results__content-type-filter">
                                    <button class="idsk-search-results__link-panel-button"><span
                                            class="idsk-search-results__link-panel__title">Kategórie</span><span
                                            class="idsk-search-results__link-panel--span"></span></button>
                                    <div class="idsk-search-results__list"><input
                                            class="govuk-input idsk-search-results__search__input" type="text"
                                            title="Téma" aria-label="Téma" value="">
                                        <div class="idsk-option-select-filter ">
                                            <div class="govuk-form-group">

                                                <div class="govuk-checkboxes govuk-checkboxes--small"
                                                    id="categoriesContainer">
                                                    <!-- Dynamicky generované checkboxy pre kategórie budú tu -->
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div data-module="idsk-search-results-filter" data-testid="sr-filter-keyword">
                            <div class="idsk-search-results__filter idsk-search-results-filter__filter-panel">
                                <div
                                    class="idsk-search-results__link-panel idsk-search-results--expand idsk-search-results__content-type-filter">
                                    <button class="idsk-search-results__link-panel-button"><span
                                            class="idsk-search-results__link-panel__title">Životná situácia</span><span
                                            class="idsk-search-results__link-panel--span"></span></button>
                                    <div class="idsk-search-results__list"><input
                                            class="govuk-input idsk-search-results__search__input" type="text"
                                            title="Kľúčové slová" aria-label="Kľúčové slová" value="">
                                        <div class="idsk-option-select-filter ">
                                            <div class="govuk-form-group">
                                                <div class="govuk-checkboxes govuk-checkboxes--small">
                                                    <div class="govuk-checkboxes govuk-checkboxes--small"
                                                        id="lifeSituationsContainer">
                                                        <!-- Dynamicky generované checkboxy pre životné situácie budú tu -->
                                                    </div>



                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-column-three-quarters idsk-search-results__content">
                        <div class="govuk-grid-column-one-quarter "><span
                                class="idsk-search-results__content__number-of-results" style="margin-bottom:25px;" data-testid="sr-count">
                                výsledkov</span></div>
                        
                        <div
                            class="govuk-grid-column-full idsk-search-results__show-results__button idsk-search-results--invisible">
                           
                        </div>
                        <div class="idsk-search-results__content__all">
                            <div class="idsk-search-results__card govuk-grid-column-full">
                                <div id="articlesContainer">
                                    <!-- Dynamicky generované články budú tu -->
                                </div>

                            </div>
                        </div>
                        <div class="idsk-search-results__content__page-changer govuk-grid-column-full">
                            <div class="idsk-search-results__page-number govuk-grid-column-full"><span
                                    data-lines="Strana $value1 z $value2">Strana 1 z 1</span></div>
                        </div>
                    </div>
                </div>


            </div>




        </main>

    </div>






    </main>
    </div>


    <div data-module="idsk-footer-extended">
        <footer class="idsk-footer-extended  ">
            <div class="idsk-footer-extended-main-content">
                <div class="govuk-width-container">
                    <div class="govuk-grid-column-full">
                        <div class="idsk-footer-extended-description-panel">
                            <div class="idsk-footer-extended-meta-item">
                                <ul class="idsk-footer-extended-inline-list ">
                                    <li class="idsk-footer-extended-inline-list-item">
                                        <a class="govuk-link" title="Pomoc" href="#">
                                            Pomoc
                                        </a>
                                    </li>
                                    <li class="idsk-footer-extended-inline-list-item">
                                        <a class="govuk-link" title="Cookies" href="/prihlasenie">
                                            Prihlásenie
                                        </a>
                                    </li>
                                    <li class="idsk-footer-extended-inline-list-item">
                                        <a class="govuk-link" title="Kontakty" href="#">
                                            Kontakty
                                        </a>
                                    </li>
                                    <li class="idsk-footer-extended-inline-list-item">
                                        <a class="govuk-link" title="Mapa Stránky" href="#">
                                            Mapa Stránky
                                        </a>
                                    </li>
                                    <li class="idsk-footer-extended-inline-list-item">
                                        <a class="govuk-link" title="RSS" href="#">
                                            RSS
                                        </a>
                                    </li>
                                    <li class="idsk-footer-extended-inline-list-item">
                                        <a class="govuk-link" title="Vyhlásenie o prístupnosti" href="#">
                                            Vyhlásenie o prístupnosti
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="govuk-grid-column-two-thirds idsk-footer-extended-info-links">
                                <p class="idsk-footer-extended-frame">Vytvorené v súlade s
                                    <a class="govuk-link" title="Jednotným dizajn manuálom elektronických služieb."
                                        href="#">
                                        Jednotným dizajn manuálom elektronických služieb.
                                    </a>
                                </p>

                            </div>
                            <div class="govuk-grid-column-one-third idsk-footer-extended-logo-box">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <script>window.GOVUKFrontend.initAll()</script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        //Vyhľadávaci panel
        function toggleGuideContent(contentId) {
            var content = document.getElementById(contentId);
            if (content.style.display === "none" || content.style.display === "") {
                content.style.display = "block";
            } else {
                content.style.display = "none";
            }
        }

        // Responzívne vyhľadávanie
        function adjustSearchAndOrderForResponsive() {
            var searchBars = document.querySelectorAll('.idsk-search-results__search-bar');
            var orderDropdowns = document.querySelectorAll('.idsk-search-results--order__dropdown');
            var orderSelectors = document.querySelectorAll('.idsk-search-results--order');
        
            if (window.innerWidth <= 768) { // Zmeniť na požadovanú šírku
                // Skryť vyhľadávací panel a zoradenie
                searchBars.forEach(function(bar) { bar.style.display = 'none'; });
                orderDropdowns.forEach(function(dropdown) { dropdown.style.display = 'none'; });
                orderSelectors.forEach(function(selector) { selector.style.display = 'none'; });
            } else {
                // Zobraziť vyhľadávací panel a zoradenie
                searchBars.forEach(function(bar) { bar.style.display = 'block'; });
                orderDropdowns.forEach(function(dropdown) { dropdown.style.display = 'block'; });
                orderSelectors.forEach(function(selector) { selector.style.display = 'block'; });
            }
        }
        
        window.onload = adjustSearchAndOrderForResponsive;
        window.onresize = adjustSearchAndOrderForResponsive;
        
        
    </script>

    <script>
        //Filtrovacie komponenty
        document.addEventListener('DOMContentLoaded', function () {
            var filterButton = document.querySelector('.idsk-search-results__link-panel-button');
            var filterContent = document.querySelector('.idsk-search-results__list');

            filterButton.addEventListener('click', function () {
                filterContent.classList.toggle('idsk-search-results--expand');
            });
        });

        
    </script>

    <script>
        $(document).ready(function () {

            var currentFilters = {
                categories: new Set(),
                audiences: new Set(),
                departments: new Set(),
                lifeSituations: new Set(),
            };
            

            function updateResultsCount() {
                var visibleArticlesCount = $('.idsk-card:visible').length;
                $('.idsk-search-results__content__number-of-results').text(visibleArticlesCount + " výsledkov");
            }
            

            function setInitialFiltersFromUrl() {
                var decodedUrl = decodeURIComponent(window.location.href);
                // Rozdelenie URL na časti
                var urlParts = decodedUrl.split('/kategoria/')[1].split('/');

                urlParts.forEach(function (part) {
                    // Rozdelí každú časť na parameter a hodnotu
                    var [param, value] = part.split('=');
                    if (value && value !== 'null') {
                        switch (param) {
                            case 'kat':
                                console.log('Kategória:', value);
                                currentFilters.categories.add(value);
                                $("input.category-checkbox[data-category-id='" + value + "']").prop('checked', true);
                               
                                break;
                            case 'zivotna':
                                console.log('Životná situácia:', value);
                                currentFilters.lifeSituations.add(value);
                                $("input.life-situation-checkbox[data-life-situation-id='" + value + "']").prop('checked', true);
                              
                                break;
                            case 'komu':
                                console.log('Cieľová skupina:', value);
                                currentFilters.audiences.add(value);
                                $("input.target-audience-checkbox[data-target-audience-id='" + value + "']").prop('checked', true);
                                
                                break;
                            case 'oddelenie':
                                console.log('Oddelenie:', value);
                                currentFilters.departments.add(value);
                                $("input.department-checkbox[data-department-id='" + value + "']").prop('checked', true);
                                
                                break;
                        }
                    }
                    updateFilters();
                });

                filterArticles();
            }


            // Načítanie cieľových skupín
            $.getJSON('http://localhost:8000/kategoria/api/get-target-audiences/', function (data) {
                var items = [];
                $.each(data.target_audiences, function (key, val) {
                    items.push("<div class='govuk-checkboxes__item'><input class='govuk-checkboxes__input target-audience-checkbox' id='audience-" + val.id + "' type='checkbox' data-target-audience-id='" + val.id + "'><label class='govuk-label govuk-checkboxes__label' for='audience-" + val.id + "'>" + val.name + "</label></div>");
                });
                $('#targetAudiencesContainer').html(items.join(""));
                setInitialFiltersFromUrl();

            });
            // Načítanie oddelení
            $.getJSON('http://localhost:8000/kategoria/api/get-departments/', function (data) {
                var items = [];
                $.each(data.departments, function (key, val) {
                    items.push("<div class='govuk-checkboxes__item'><input class='govuk-checkboxes__input department-checkbox' id='department-" + val.id + "' type='checkbox' data-department-id='" + val.id + "'><label class='govuk-label govuk-checkboxes__label' for='department-" + val.id + "'>" + val.name + "</label></div>");

                });
                $('#departmentsContainer').html(items.join(""));
                setInitialFiltersFromUrl();
            });

            // Načítanie kategórií s pridaným 'data-category-id'
            $.getJSON('http://localhost:8000/kategoria/api/get-category', function (data) {
                var items = [];
                $.each(data.categories, function (key, val) {
                    items.push("<div class='govuk-checkboxes__item'><input class='govuk-checkboxes__input category-checkbox' id='category-"
                        + val.id + "' type='checkbox' data-category-id='" + val.id +
                        "'><label class='govuk-label govuk-checkboxes__label' for='category-" + val.id + "'>" + val.name + "</label></div>");
                });
                $('#categoriesContainer').html(items.join(""));
                setInitialFiltersFromUrl();
            });

            // Načítanie životných situácií
            $.getJSON('http://localhost:8000/kategoria/api/get-life-situations/', function (data) {
                var items = [];
                $.each(data.life_situations, function (key, val) {
                    items.push("<div class='govuk-checkboxes__item'><input class='govuk-checkboxes__input life-situation-checkbox' id='life-situation-" + val.id + "' type='checkbox' data-life-situation-id='" + val.id + "'><label class='govuk-label govuk-checkboxes__label' for='life-situation-" + val.id + "'>" + val.name + "</label></div>");
                });
                $('#lifeSituationsContainer').html(items.join(""));
                setInitialFiltersFromUrl();
            });


            // Načítanie článkov
            $.getJSON('http://localhost:8000/kategoria/api/get-articles/', function (data) {
                var articlesHtml = '';
                $.each(data.articles, function (key, article) {
                    articlesHtml += "<div class='idsk-card' data-category='" + article.category_id + "' data-target-audience='" + article.target_audience_id + "' data-department='" + article.department_id + "' data-life-situation='" + article.life_situation_id + "'>" +
                        "<div class='idsk-card-content idsk-card-content-basic-variant'>" +
                        "<div class='idsk-heading idsk-heading-basic-variant'>" +
                        "<a href='/clanok/" + article.id + "' class='idsk-card-title govuk-link' title='" + article.title + "'>" + article.title + "</a>" +
                        "</div>" +
                        "<p class='idsk-body idsk-body-basic-variant'>" + article.content.split(" ").slice(0, 20).join(" ") + "...</p>" +
                        "<div class='idsk-card-meta-container'>" +
                        "<span class='idsk-card-meta idsk-card-meta-date'>" +
                        "<a href='/clanok/" + article.id + "' class='govuk-link' title='Pridané dňa: " + new Date(article.created_at).toLocaleDateString("sk-SK") + "'>" +
                        new Date(article.created_at).toLocaleDateString("sk-SK") + "</a>" +
                        "</span>" +
                        "</div>" +
                        "</div>" +
                        "</div>";
                });
                $('#articlesContainer').html(articlesHtml);
                setInitialFiltersFromUrl();
                updateResultsCount();
            });


            // Funkcia na aktualizáciu filtrov
            function updateFilters() {
                currentFilters.categories = new Set($('.category-checkbox:checked').map(function () {
                    return $(this).data('category-id') ? $(this).data('category-id').toString() : '';
                }).get());

                currentFilters.audiences = new Set($('.target-audience-checkbox:checked').map(function () {
                    return $(this).data('target-audience-id') ? $(this).data('target-audience-id').toString() : '';
                }).get());

                currentFilters.departments = new Set($('.department-checkbox:checked').map(function () {
                    return $(this).data('department-id') ? $(this).data('department-id').toString() : '';
                }).get());

                currentFilters.lifeSituations = new Set($('.life-situation-checkbox:checked').map(function () {
                    return $(this).data('life-situation-id') ? $(this).data('life-situation-id').toString() : '';
                }).get());

                filterArticles();
            }
                        
          // Funkcia na vyhľadávanie podľa query z URL
            function getSearchQueryFromUrl() {
                var decodedUrl = decodeURIComponent(window.location.href);
                var urlParts = decodedUrl.split('/kategoria/')[1].split('/');
                var searchQueryPart = urlParts[urlParts.length - 2];
                var searchQuery = null;

                if (searchQueryPart.includes('=')) {
                    searchQuery = searchQueryPart.split('=')[1];
                }

                if (searchQuery && searchQuery.toLowerCase() !== 'null') {
                    $('#searchQuery').val(searchQuery);
                    console.log("Vyhľadávací výraz v URL: " + searchQuery);
                    // Po načítaní stránky počká 100ms a potom vykoná funkciu performSearch
                    setTimeout(function () {
                        performSearch();
                    }, 400);
                    // Simulácia kliknutia na tlačidlo vyhľadávania
                    $('#searchButton').click();
                } else {
                    console.log("Žiadny platný vyhľadávací výraz v URL.");
                }
            }

            // Event listener pre kliknutie na tlačidlo vyhľadávania
            $('#searchButton').click(function() {
                performSearch();
                console.log("Klikol si na vyhladavanie");
            });

            // Funkcia na vyhľadávanie
            function performSearch() {
                var searchQuery = $('#searchQuery').val().toLowerCase();
                console.log("Vyhľadávací výraz: " + searchQuery);
                
                // Skryje všetky články a zobrazí len tie, ktoré obsahujú hľadaný výraz v nadpise
                $('.idsk-card').hide().filter(function () {
                    var title = $(this).find('.idsk-card-title').text().toLowerCase();
                    return title.includes(searchQuery);
                }).show();

                updateResultsCount();
            }

            // Toto vykoná funkciu getSearchQueryFromUrl pri načítaní stránky
            getSearchQueryFromUrl();

                                



            // Funkcia na filtrovanie článkov
            function filterArticles() {
                $('.idsk-card').hide().filter(function () {
                    var article = $(this);
                    var categoryMatch = currentFilters.categories.size === 0 || currentFilters.categories.has(article.data('category').toString());
                    var audienceMatch = currentFilters.audiences.size === 0 || currentFilters.audiences.has(article.data('target-audience').toString());
                    var departmentMatch = currentFilters.departments.size === 0 || currentFilters.departments.has(article.data('department').toString());
                    var lifeSituationMatch = currentFilters.lifeSituations.size === 0 || currentFilters.lifeSituations.has(article.data('life-situation').toString());


                    return categoryMatch && audienceMatch && departmentMatch && lifeSituationMatch;
                }).show();
                updateResultsCount();
            }


            // Event listener pre zmenu stavu checkboxov
            $('#categoriesContainer').on('change', '.category-checkbox', function () {
                updateFilters();
                console.log(currentFilters);
            });

            // Event listener pre zmenu stavu checkboxov pre cieľové skupiny
            $('#targetAudiencesContainer').on('change', '.target-audience-checkbox', function () {
                updateFilters();
                console.log(currentFilters);
            });

            // Event listener pre zmenu stavu checkboxov pre oddelenia
            $('#departmentsContainer').on('change', '.department-checkbox', function () {
                updateFilters();
                console.log(currentFilters);
            });

            // Event listener pre zmenu stavu checkboxov pre životné situácie
            $('#lifeSituationsContainer').on('change', '.life-situation-checkbox', function () {
                updateFilters();
                console.log(currentFilters);
            });

        });


    </script>





</body>

</html>