<!DOCTYPE html>
<html lang="sk" class="govuk-template app-no-canvas-background">

<head>

    <meta charset="utf-8" />
    <title>Článok</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {% load static %}

    <link rel="stylesheet" href="{% static 'MainPage/idsk-frontend-2.11.0.min.css'%}">
    <link rel="stylesheet" href="{% static 'ArticlePage/style.css'%}">
    <script src="{% static 'MainPage/idsk-frontend.min.js'%}"></script>

</head>

<body class="govuk-template__body ">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>


    <header class="idsk-header-web " data-module="idsk-header-web">
        <div class="idsk-header-web__scrolling-wrapper">
            <!-- Warning Banner Starts Here -->
            <div class="idsk-header-web__banner idsk-header-web__banner--warning">
                <div class="govuk-width-container">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <div class="govuk-body-s idsk-header-web__banner-title">
                                <div class="idsk-header-web__warning-icon"></div>
                                Upozornenie: Toto je testovacia verzia a slúži výhradne na demonštračné účely. Všetky
                                údaje a interakcie na tejto stránke sú fiktívne a riadia sa podľa zákona č. 18/2018 Z.
                                z. o ochrane osobných údajov.
                            </div>
                            <button class="idsk-header-web__banner-close" aria-label="Zavrieť banner"><span
                                    class="idsk-header-web__menu-close"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Warning Banner Ends Here -->
            <div class="idsk-header-web__tricolor"></div>

            <div class="idsk-header-web__brand ">
                <div class="govuk-width-container">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <div class="idsk-header-web__brand-gestor">
                                <span class="govuk-body-s idsk-header-web__brand-gestor-text">
                                    Testovacia stránka verejnej správy

                                </span>
                                <span class="govuk-body-s idsk-header-web__brand-gestor-text--mobile">
                                    SK

                                </span>

                            </div>
                            <div class="idsk-header-web__brand-spacer"></div>
                            <div class="idsk-header-web__brand-language">
                                <button class="idsk-header-web__brand-language-button"
                                    aria-label="Rozbaliť jazykové menu" aria-expanded="false"
                                    data-text-for-hide="Skryť jazykové menu"
                                    data-text-for-show="Rozbaliť jazykové menu">
                                    Slovenčina
                                    <span class="idsk-header-web__link-arrow"></span>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="idsk-header-web__main">
                <div class="govuk-width-container">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-grid-column-one-third-from-desktop">
                            <div class="idsk-header-web__main-headline">
                                <a href="/" title="Odkaz na úvodnú stránku">
                                    <img src="{% static 'MainPage/assets/images/slovenskosk.png'%}"
                                        alt="ID-SK Frontend" class="idsk-header-web__main-headline-logo">
                                    
                                </a>

                                <button class="idsk-button idsk-header-web__main-headline-menu-button"
                                    aria-label="Rozbaliť menu" aria-expanded="false" data-text-for-show="Rozbaliť menu"
                                    data-text-for-hide="Zavrieť menu">
                                    Menu
                                    <span class="idsk-header-web__menu-open"></span>
                                    <span class="idsk-header-web__menu-close"></span>
                                </button>
                            </div>
                        </div>

                        <div class="govuk-grid-column-two-thirds">
                            <div class="idsk-header-web__main-action">
                               
                                <div class="idsk-header-web__main--buttons">
                                </div>
                                <div class="idsk-header-web__main--buttons">
                                    <button type="button" class="idsk-button idsk-header-web__main--login-logoutbtn" data-module="idsk-button">
                                      Elektronické služby
                                    </button>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="idsk-header-web__nav--divider"></div>
            <div class="idsk-header-web__nav idsk-header-web__nav--mobile ">
                <div class="govuk-width-container">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">

                        </div>
                        <div class="govuk-grid-column-full">
                            <!-- Navigation block -->
                            <nav class="">
                                <!-- Unordered list to hold the navigation items -->
                                <ul class="idsk-header-web__nav-list" aria-label="Hlavná navigácia">
                                  <!-- Loop through each category passed from the context -->
                                  {% for category in categories %}
                                  <li class="idsk-header-web__nav-list-item">
                                    <!-- Check if the current category has subcategories -->
                                    {% if category.subcategories.all %}
                                    <!-- This link acts as a dropdown trigger for subcategories -->
                                    <a class="govuk-link idsk-header-web__nav-list-item-link" href="#" title="{{ category.name }}"
                                      aria-label="Rozbaliť {{ category.name }} menu" aria-expanded="false"
                                      data-text-for-hide="Zavrieť {{ category.name }} menu"
                                      data-text-for-show="Rozbaliť {{ category.name }} menu">
                                      {{ category.name }}
                                      <!-- Visual elements for the link indicating a dropdown -->
                                      <div class="idsk-header-web__link-arrow"></div>
                                      <div class="idsk-header-web__link-arrow-mobile"></div>
                                    </a>
                                    <!-- Submenu container for subcategories -->
                                    <div class="idsk-header-web__nav-submenulite">
                                      <!-- Unordered list to hold subcategories -->
                                      <ul class="idsk-header-web__nav-submenulite-list" aria-label="{{ category.name }} submenu">
                                        <!-- Loop through each subcategory of the current category -->
                                        {% for subcategory in category.subcategories.all %}
                                        <li class="idsk-header-web__nav-submenulite-list-item">
                                          <!-- Link to the subcategory page -->
                                          <a class="govuk-link idsk-header-web__nav-submenulite-list-item-link"
                                            href="{{ subcategory.link }}" title="{{ subcategory.name }}">
                                            <span>{{ subcategory.name }}</span>
                                          </a>
                                        </li>
                                        {% endfor %}
                                      </ul>
                                    </div>
                                    <!-- If there are no subcategories, just display a regular link -->
                                    {% else %}
                                    <a class="govuk-link idsk-header-web__nav-list-item-link"
                                    href ="/kategoria/kat={{ category.id|slugify }}/zivotna=null/komu=null/oddelenie=null/text=null" title="{{ category.name }}">
                                      {{ category.name}}
                                    </a>
                                    {% endif %}
                                  </li>
                                  {% endfor %}
                                </ul>
                              </nav>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </header>


    <div class="govuk-width-container">
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Main Page</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">{{article.category}}</li>
            </ol>
        </div>

        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
            <div class="govuk-grid-row" id="idsk-article-pattern">
                <div class="govuk-grid-column-three-quarters-from-desktop idsk-article-pattern__element-right">
                    <div id="uvod">
                        <span class="govuk-caption-xl idsk-article-pattern__subtitle">{{article.department}}</span>
                        <span class="govuk-caption-xl idsk-article-pattern__subtitle"></span>
                        <h2 class="govuk-heading-l idsk-stepper-pattern__intro-heading">{{ article.title }}</h2>
                    </div>
                    <p class="govuk-body-s idsk-article-pattern__text-silver--down">Vytvorené :
                        {{article.created_at|date:"d.m.Y"}}
                        <a class="govuk-link" href="#" title="zobraziť aktualizácie">
                        </a>
                    </p>
                </div>
                <div class="idsk-in-page-navigation govuk-grid-column-one-quarter"
                    data-module="idsk-in-page-navigation">
                    <div class="idsk-in-page-navigation-wrapper">
                        <div class="idsk-in-page-navigation__title">Obsah</div>
                        <div class="idsk-in-page-navigation__link-panel">
                            <button class="idsk-in-page-navigation__link-panel-button">Úvod</button>
                        </div>
                        <ul class="idsk-in-page-navigation__list">
                            <li class="idsk-in-page-navigation__list-item idsk-in-page-navigation__list-item--active">
                                <a class="idsk-in-page-navigation__link" href="#uvod">
                                    <span class="idsk-in-page-navigation__link-number">1.</span>
                                    <span class="idsk-in-page-navigation__link-title">Úvod</span>
                                </a>
                            </li>
                            {% for subtitle in article.subtitles.all %}
                            <li class="idsk-in-page-navigation__list-item">
                                <a class="idsk-in-page-navigation__link" href="#nadpis-{{ forloop.counter }}">
                                    <span class="idsk-in-page-navigation__link-number">{{ forloop.counter0 }}</span>
                                    <span class="idsk-in-page-navigation__link-title">{{ subtitle.title }}</span>
                                </a>
                            </li>
                            {% endfor %}

                            {% with total_subtitles=article.subtitles.all.count %}
                            {% for _ in "x"|rjust:"4"|slice:":4"|make_list %}
                            {% if forloop.counter0 >= total_subtitles %}
                            <li class="idsk-in-page-navigation__list-item" style="visibility: hidden;">
                                <a class="idsk-in-page-navigation__link" href="#">
                                    <span class="idsk-in-page-navigation__link-number">{{
                                        total_subtitles|add:forloop.counter }}</span>
                                    <span class="idsk-in-page-navigation__link-title">Placeholder</span>
                                </a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% endwith %}




                        </ul>
                    </div>
                </div>

                <div class="govuk-grid-column-three-quarters-from-desktop">
                    <p class="govuk-body">
                        {{ article.content|linebreaksbr }}</p>
                    <img src="{{ article.image.url }}" alt="Obrazok clanok">

                    {% for subtitle in article.subtitles.all %}
                    <h3 class="govuk-heading-m govuk-!-margin-top-6" id="nadpis-{{ forloop.counter }}">{{ subtitle.title}}</h3>
                    <p class="govuk-body">{{ subtitle.text }}</p>
                    {% if subtitle.image %}
                    <img src="{{ subtitle.image.url }}" alt="Obrázok podčlánku {{ subtitle.title }}">
                    {% endif %}
                    {% endfor %}

                    <p class="govuk-body-s idsk-article-pattern__text-silver--up">Aktualizované
                        <a class="govuk-link" id="idsk-article__content__button" href="#"
                            title="+ zobraziť aktualizácie" onclick="showNews(); return false"
                            data-opened="- schovať aktualizácie" data-closed="+ zobraziť aktualizácie">
                            + zobraziť aktualizácie</a>
                    </p>
                    
                    <br>

                    <div class="govuk-grid-row" id="zivotne-situacie">

                        <div class="govuk-grid-column-full">
                            <div class="idsk-related-content " data-module="idsk-related-content">
                                <hr class="idsk-related-content__line" aria-hidden="true" />
                                <h4 class="idsk-related-content__heading govuk-heading-s">Súvisiace témy</h4>
                                <ul class="idsk-related-content__list govuk-list">
                                    <li class="idsk-related-content__list-item">
                                        <a class="idsk-related-content__link" href="#"
                                            title="Počet subjektov aktuálne">Počet subjektov aktuálne</a>
                                    </li>
                                    <li class="idsk-related-content__list-item">
                                        <a class="idsk-related-content__link" href="#"
                                            title="Odklad povinnej aktivácie">Odklad povinnej aktivácie</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>
    </div>


    <div data-module="idsk-footer-extended">
        <footer class="idsk-footer-extended  ">
        
            <div class="idsk-footer-extended-main-content">

                <div class="govuk-width-container">
                    <div class="govuk-grid-column-full">
                        <div class="idsk-footer-extended-description-panel">
                            <div class="idsk-footer-extended-meta-item">
                                <ul class="idsk-footer-extended-inline-list ">
                                    <li class="idsk-footer-extended-inline-list-item">
                                        <a class="govuk-link" title="Pomoc" href="#">
                                            Pomoc
                                        </a>
                                    </li>
                                    <li class="idsk-footer-extended-inline-list-item">
                                        <a class="govuk-link" title="Cookies" href="/prihlasenie">
                                            Prihlásenie
                                        </a>
                                    </li>
                                    <li class="idsk-footer-extended-inline-list-item">
                                        <a class="govuk-link" title="Kontakty" href="#">
                                            Kontakty
                                        </a>
                                    </li>
                                    <li class="idsk-footer-extended-inline-list-item">
                                        <a class="govuk-link" title="Mapa Stránky" href="#">
                                            Mapa Stránky
                                        </a>
                                    </li>
                                    <li class="idsk-footer-extended-inline-list-item">
                                        <a class="govuk-link" title="RSS" href="#">
                                            RSS
                                        </a>
                                    </li>
                                    <li class="idsk-footer-extended-inline-list-item">
                                        <a class="govuk-link" title="Vyhlásenie o prístupnosti" href="#">
                                            Vyhlásenie o prístupnosti
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="govuk-grid-column-two-thirds idsk-footer-extended-info-links">
                                <p class="idsk-footer-extended-frame">Vytvorené v súlade s
                                    <a class="govuk-link" title="Jednotným dizajn manuálom elektronických služieb."
                                        href="#">
                                        Jednotným dizajn manuálom elektronických služieb.
                                    </a>
                                </p>

                            </div>
                            <div class="govuk-grid-column-one-third idsk-footer-extended-logo-box">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <script>window.GOVUKFrontend.initAll()</script>
</body>

</html>