<!DOCTYPE html>
<html lang="sk" class="govuk-template app-no-canvas-background">

<head>

    <meta charset="utf-8" />
    <title>Administrácia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {% load static %}

    <link rel="stylesheet" href="{% static 'MainPage/idsk-frontend-2.11.0.min.css'%}">
    <link rel="stylesheet" href="{% static 'AdminPage/style.css'%}">
    <script src="{% static 'MainPage/idsk-frontend.min.js'%}"></script>


</head>

<body class="govuk-template__body ">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <header class="idsk-header-web " data-module="idsk-header-web">
        <div class="idsk-header-web__scrolling-wrapper">
            <!-- Warning Banner Starts Here -->
            <div class="idsk-header-web__banner idsk-header-web__banner--warning">
                <div class="govuk-width-container">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <div class="govuk-body-s idsk-header-web__banner-title">
                                <div class="idsk-header-web__warning-icon"></div>
                                Upozornenie: Nachádzate sa v administratívnej časti. Prístup do tejto časti je obmedzený
                                a vyhradený iba oprávneným osobám. Akýkoľvek neoprávnený prístup alebo pokus o
                                modifikáciu obsahu je trestný a bude stíhaný v súlade so zákonom č. 215/2022 Z. z. o
                                kybernetickej bezpečnosti a ochrane osobných údajov v digitálnom priestore.
                            </div>
                            <button class="idsk-header-web__banner-close" aria-label="Zavrieť banner"><span
                                    class="idsk-header-web__menu-close"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Warning Banner Ends Here -->

            <div class="idsk-header-web__tricolor"></div>

            <div class="idsk-header-web__brand ">
                <div class="govuk-width-container">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <div class="idsk-header-web__brand-gestor">
                                <span class="govuk-body-s idsk-header-web__brand-gestor-text">
                                    Testovacia stránka verejnej správy

                                </span>
                                <span class="govuk-body-s idsk-header-web__brand-gestor-text--mobile">
                                    SK

                                </span>

                            </div>
                            <div class="idsk-header-web__brand-spacer"></div>
                            <div class="idsk-header-web__brand-language">
                                <button class="idsk-header-web__brand-language-button"
                                    aria-label="Rozbaliť jazykové menu" aria-expanded="false"
                                    data-text-for-hide="Skryť jazykové menu"
                                    data-text-for-show="Rozbaliť jazykové menu">
                                    Slovenčina
                                    <span class="idsk-header-web__link-arrow"></span>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="idsk-header-web__main">
                <div class="govuk-width-container">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-grid-column-one-third-from-desktop">
                            <div class="idsk-header-web__main-headline">
                                <a href="/" title="Odkaz na úvodnú stránku">
                                    <img src="{% static 'MainPage/assets/images/header-web/logo-placeholder.png'%}"
                                        alt="ID-SK Frontend" class="idsk-header-web__main-headline-logo">
                                    <span class="govuk-heading-m">
                                        Portál pre administráciu
                                    </span>
                                </a>

                                <button class="idsk-button idsk-header-web__main-headline-menu-button"
                                    aria-label="Rozbaliť menu" aria-expanded="false" data-text-for-show="Rozbaliť menu"
                                    data-text-for-hide="Zavrieť menu">
                                    Menu
                                    <span class="idsk-header-web__menu-open"></span>
                                    <span class="idsk-header-web__menu-close"></span>
                                </button>
                            </div>
                        </div>

                        <div class="govuk-grid-column-two-thirds">
                            <div class="idsk-header-web__main-action">
                                <form class="idsk-header-web__main-action-search">
                                    <input class="govuk-input govuk-!-display-inline-block"
                                        id="idsk-header-web__main-action-search-input" name="search"
                                        placeholder="Zadajte hľadaný výraz" title="Zadajte hľadaný výraz" type="search"
                                        aria-label="Zadajte hľadaný výraz" />
                                    <button type="submit" class="govuk-button" data-module="govuk-button">
                                        <span class="govuk-visually-hidden">Vyhľadať</span>
                                        <i aria-hidden="true" class="fas fa-search"></i>
                                    </button>

                                </form>

                                <div class="idsk-header-web__main--buttons">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </header>


    <div class="govuk-width-container">
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/"> ID-SK frontend</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">Admin</li>
            </ol>
        </div>

        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
            <div data-module="idsk-intro-block">
                <div class="idsk-intro-block ">
                    <div class="govuk-grid-row ">
                        <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
                            <h2 class="govuk-heading-m heading-bigger-margin">
                                Vitajte v administrácii ID-SK Frontend verejnej správy
                            </h2>
                            <p class="govuk-body">
                                <strong>Upozornenie:</strong> Vstup do tejto časti portálu je chránený podľa zákona č.
                                1234/2022 Z.z. o informačnej bezpečnosti. Nepovolaným osobám je prístup zakázaný. Pokiaľ
                                nemáte oprávnenie k prístupu, odídťe prosím okamžite. Porušenie tohto zákazu môže byť
                                trestne stíhané.
                            </p>
                        </div>

                        <div
                            class="idsk-intro-block__side-menu govuk-grid-column-full govuk-grid-column-one-third-from-desktop">
                            <h2 class="govuk-heading-s">
                                Populárny obsah
                            </h2>
                            <ul class="idsk-intro-block__side-menu__ul">
                                <li class="idsk-intro-block__side-menu__li">
                                    <a class="govuk-link idsk-intro-block__side-menu__a" href="#"
                                        title="O Eurofondoch">Pridanie článku</a>
                                </li>
                                <li class="idsk-intro-block__side-menu__li">
                                    <a class="govuk-link idsk-intro-block__side-menu__a" href="#"
                                        title="Aktuality">Uprava článku</a>
                                </li>
                                <li class="idsk-intro-block__side-menu__li">
                                    <a class="govuk-link idsk-intro-block__side-menu__a" href="#"
                                        title="O Ministerstve">Nahratie dokumentov</a>
                                </li>
                                <li class="idsk-intro-block__side-menu__li">
                                    <a class="govuk-link idsk-intro-block__side-menu__a" href="#"
                                        title="Aktuálne výzvy">Nastavenia CMS</a>
                                </li>
                                <li class="idsk-intro-block__side-menu__li">
                                    <a class="govuk-link idsk-intro-block__side-menu__a" href="#" title="Dokumenty">Ako
                                        vytvorit článok</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <hr class="idsk-hr-separator govuk-!-margin-bottom-6">

            <h2 class="govuk-heading-l">Správa článkov</h2>
            <div class="govuk-body-m"></div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-row no govuk-!-padding-top-0 govuk-!-padding-bottom-0 row-with-boxes">

                    <!-- Pridať článok -->
                    <div class="govuk-grid-column-one-quarter card">
                        <a href="#"
                            class="govuk-!-margin-bottom-6 standards govuk-!-padding-top-4 govuk-!-padding-bottom-2 govuk-!-padding-right-4 govuk-!-padding-left-4 module-icon">
                            <div>
                                <span class="govuk-heading-l govuk-!-margin-bottom-2">
                                    <i class="fas fa-plus-circle"></i>
                                </span>
                                <p class="govuk-body">
                                    <strong>Pridať článok</strong>
                                </p>
                            </div>
                        </a>
                    </div>

                    <!-- Upravit článok -->
                    <div class="govuk-grid-column-one-quarter card">
                        <a href="#"
                            class="govuk-!-margin-bottom-6 standards govuk-!-padding-top-4 govuk-!-padding-bottom-2 govuk-!-padding-right-4 govuk-!-padding-left-4 module-icon">
                            <div>
                                <span class="govuk-heading-l govuk-!-margin-bottom-2">
                                    <i class="fas fa-edit"></i>
                                </span>
                                <p class="govuk-body">
                                    <strong>Upravit článok</strong>
                                </p>
                            </div>
                        </a>
                    </div>

                    <!-- Odstrániť článok -->
                    <div class="govuk-grid-column-one-quarter card">
                        <a href="#"
                            class="govuk-!-margin-bottom-6 standards govuk-!-padding-top-4 govuk-!-padding-bottom-2 govuk-!-padding-right-4 govuk-!-padding-left-4 module-icon">
                            <div>
                                <span class="govuk-heading-l govuk-!-margin-bottom-2">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                                <p class="govuk-body">
                                    <strong>Odstrániť článok</strong>
                                </p>
                            </div>
                        </a>
                    </div>

                    <!-- Aktuality -->
                    <div class="govuk-grid-column-one-quarter card">
                        <a href="#"
                            class="govuk-!-margin-bottom-6 standards govuk-!-padding-top-4 govuk-!-padding-bottom-2 govuk-!-padding-right-4 govuk-!-padding-left-4 module-icon">
                            <div>
                                <span class="govuk-heading-l govuk-!-margin-bottom-2">
                                    <i class="fas fa-newspaper"></i>
                                </span>
                                <p class="govuk-body">
                                    <strong>Aktuality</strong>
                                </p>
                            </div>
                        </a>
                    </div>

                </div>
            </div>



            <hr class="idsk-hr-separator govuk-!-margin-bottom-6">

            <h2 class="govuk-heading-l">Správa dokumentov</h2>
            <div class="govuk-body-m"></div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-row no govuk-!-padding-top-0 govuk-!-padding-bottom-0 row-with-boxes">

                    <!-- Pridať dokument -->
                    <div class="govuk-grid-column-one-quarter card">
                        <a href="#"
                            class="govuk-!-margin-bottom-6 standards govuk-!-padding-top-4 govuk-!-padding-bottom-2 govuk-!-padding-right-4 govuk-!-padding-left-4 module-icon">
                            <div>
                                <span class="govuk-heading-l govuk-!-margin-bottom-2">
                                    <i class="fas fa-plus-circle"></i>
                                </span>
                                <p class="govuk-body">
                                    <strong>Pridať dokument</strong>
                                </p>
                            </div>
                        </a>
                    </div>

                    <!-- Upravit dokument -->
                    <div class="govuk-grid-column-one-quarter card">
                        <a href="#"
                            class="govuk-!-margin-bottom-6 standards govuk-!-padding-top-4 govuk-!-padding-bottom-2 govuk-!-padding-right-4 govuk-!-padding-left-4 module-icon">
                            <div>
                                <span class="govuk-heading-l govuk-!-margin-bottom-2">
                                    <i class="fas fa-edit"></i>
                                </span>
                                <p class="govuk-body">
                                    <strong>Upravit dokument</strong>
                                </p>
                            </div>
                        </a>
                    </div>


                    <!-- Odstrániť dokument -->
                    <div class="govuk-grid-column-one-quarter card">
                        <a href="#"
                            class="govuk-!-margin-bottom-6 standards govuk-!-padding-top-4 govuk-!-padding-bottom-2 govuk-!-padding-right-4 govuk-!-padding-left-4 module-icon">
                            <div>
                                <span class="govuk-heading-l govuk-!-margin-bottom-2">
                                    <i class="fas fa-file-excel"></i>
                                </span>
                                <p class="govuk-body">
                                    <strong>Odstrániť dokument</strong>
                                </p>
                            </div>
                        </a>
                    </div>

                    <!-- Prehľad dokumentov -->
                    <div class="govuk-grid-column-one-quarter card">
                        <a href="#"
                            class="govuk-!-margin-bottom-6 standards govuk-!-padding-top-4 govuk-!-padding-bottom-2 govuk-!-padding-right-4 govuk-!-padding-left-4 module-icon">
                            <div>
                                <span class="govuk-heading-l govuk-!-margin-bottom-2">
                                    <i class="fas fa-file-alt"></i>
                                </span>
                                <p class="govuk-body">
                                    <strong>Prehľad dokumentov</strong>
                                </p>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

            <hr class="idsk-hr-separator govuk-!-margin-bottom-6">

            <h2 class="govuk-heading-l">Všeobecná administrácia</h2>
            <div class="govuk-body-m"></div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-row no govuk-!-padding-top-0 govuk-!-padding-bottom-0 row-with-boxes">

                    <!-- Nastavenia systému -->
                    <div class="govuk-grid-column-one-quarter card">
                        <a href="#"
                            class="govuk-!-margin-bottom-6 standards govuk-!-padding-top-4 govuk-!-padding-bottom-2 govuk-!-padding-right-4 govuk-!-padding-left-4 module-icon">
                            <div>
                                <span class="govuk-heading-l govuk-!-margin-bottom-2">
                                    <i class="fas fa-cogs"></i>
                                </span>
                                <p class="govuk-body">
                                    <strong>Nastavenia systému</strong>
                                </p>
                            </div>
                        </a>
                    </div>

                    <!-- Užívatelia a skupiny -->
                    <div class="govuk-grid-column-one-quarter card">
                        <a href="#"
                            class="govuk-!-margin-bottom-6 standards govuk-!-padding-top-4 govuk-!-padding-bottom-2 govuk-!-padding-right-4 govuk-!-padding-left-4 module-icon">
                            <div>
                                <span class="govuk-heading-l govuk-!-margin-bottom-2">
                                    <i class="fas fa-users"></i>
                                </span>
                                <p class="govuk-body">
                                    <strong>Užívatelia a skupiny</strong>
                                </p>
                            </div>
                        </a>
                    </div>

                    <!-- Audit a záznamy -->
                    <div class="govuk-grid-column-one-quarter card">
                        <a href="#"
                            class="govuk-!-margin-bottom-6 standards govuk-!-padding-top-4 govuk-!-padding-bottom-2 govuk-!-padding-right-4 govuk-!-padding-left-4 module-icon">
                            <div>
                                <span class="govuk-heading-l govuk-!-margin-bottom-2">
                                    <i class="fas fa-clipboard-list"></i>
                                </span>
                                <p class="govuk-body">
                                    <strong>Audit a záznamy</strong>
                                </p>
                            </div>
                        </a>
                    </div>

                    <!-- Záloha a obnova -->
                    <div class="govuk-grid-column-one-quarter card">
                        <a href="#"
                            class="govuk-!-margin-bottom-6 standards govuk-!-padding-top-4 govuk-!-padding-bottom-2 govuk-!-padding-right-4 govuk-!-padding-left-4 module-icon">
                            <div>
                                <span class="govuk-heading-l govuk-!-margin-bottom-2">
                                    <i class="fas fa-sync"></i>
                                </span>
                                <p class="govuk-body">
                                    <strong>Záloha a obnova</strong>
                                </p>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

            <div class="idsk-grey-banner">
                <div class="govuk-grid-row">
                    <h2 class="govuk-heading-l govuk-!-margin-left-3">Užívateľská príručka administrácie</h2>
                    <div class="govuk-grid-column-one-half">
                        <p class="govuk-body">
                            Administratívna sekcia tohto portálu je navrhnutá tak, aby bola čo najintuitívnejšia a
                            umožňovala rýchlu a efektívnu správu článkov a dokumentov. Články a dokumenty, ktoré sú
                            vytvorené a spravované v tejto sekcií, sú určené pre verejnosť, a preto je dôležité
                            dodržiavať určité normy a štandardy pri ich tvorbe.
                        </p>
                        <p class="govuk-body">
                            Keď píšete alebo upravujete článok, dbajte na jeho jasnosť, presnosť a objektívnosť. Vždy
                            skontrolujte, či ste vložili všetky potrebné informácie a či sú tieto informácie aktuálne a
                            relevantné.
                        </p>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <p class="govuk-body">
                            Administrácia je prístupná iba pre autorizovaných užívateľov. Ak nie ste autorizovaný na
                            prístup do tejto sekcie, prosím, opustite ju. V prípade technických problémov alebo otázok
                            týkajúcich sa obsahu sa obráťte na technickú podporu alebo na tím zodpovedný za obsah
                            portálu.
                        </p>

                    </div>
                </div>
            </div>


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-!-margin-bottom-5">
                    <h2 class="govuk-heading-l">Návody pre administráciu</h2>
                    <p class="govuk-body-m">
                        Tu nájdete postupy a návody pre správne vytvorenie a správu článkov, kategórií a ďalších
                        funkcionalít portálu. Pre hladké fungovanie vašej práce odporúčame sledovať tieto kroky.
                    </p>
                </div>
                <div class="govuk-grid-column-full">

                    <div data-module="idsk-crossroad" class="">
                        <div class="idsk-crossroad idsk-crossroad-2">
                            <div class="idsk-crossroad__item ">
                                <a href="#" class="govuk-link idsk-crossroad-title" title="Návod na vytvorenie článku"
                                    aria-hidden="false">Návod na vytvorenie článku
                                </a>
                                <p class="idsk-crossroad-subtitle" aria-hidden="false">Krok za krokom ako správne
                                    vytvoriť článok na portáli.
                                </p>
                                <hr class="idsk-crossroad-line" aria-hidden="true" />
                            </div>
                            <div class="idsk-crossroad__item ">
                                <a href="#" class="govuk-link idsk-crossroad-title" title="Práca s kategóriami"
                                    aria-hidden="false">Práca s kategóriami
                                </a>
                                <p class="idsk-crossroad-subtitle" aria-hidden="false">Ako pridávať, upravovať alebo
                                    mazať kategórie.
                                </p>
                                <hr class="idsk-crossroad-line" aria-hidden="true" />
                            </div>
                            <div class="idsk-crossroad__item ">
                                <a href="#" class="govuk-link idsk-crossroad-title"
                                    title="Optimalizácia článkov pre vyhľadávače" aria-hidden="false">Optimalizácia
                                    článkov pre vyhľadávače
                                </a>
                                <p class="idsk-crossroad-subtitle" aria-hidden="false">Základy SEO pre vaše články.
                                </p>
                                <hr class="idsk-crossroad-line" aria-hidden="true" />
                            </div>
                        </div>
                        <div class="idsk-crossroad idsk-crossroad-2">
                            <div class="idsk-crossroad__item ">
                                <a href="#" class="govuk-link idsk-crossroad-title"
                                    title="Vkladanie multimédií do článkov" aria-hidden="false">Vkladanie multimédií do
                                    článkov
                                </a>
                                <p class="idsk-crossroad-subtitle" aria-hidden="false">Ako správne vkladať obrázky a
                                    videá do vašich článkov.
                                </p>
                                <hr class="idsk-crossroad-line" aria-hidden="true" />
                            </div>
                            <div class="idsk-crossroad__item ">
                                <a href="#" class="govuk-link idsk-crossroad-title"
                                    title="Zabezpečenie a aktualizácia portálu" aria-hidden="false">Zabezpečenie a
                                    aktualizácia portálu
                                </a>
                                <p class="idsk-crossroad-subtitle" aria-hidden="false">Postupy pre zabezpečenie vašej
                                    webovej stránky a aktualizácie.
                                </p>
                                <hr class="idsk-crossroad-line" aria-hidden="true" />
                            </div>
                            <div class="idsk-crossroad__item ">
                                <a href="#" class="govuk-link idsk-crossroad-title" title="Kontakty"
                                    aria-hidden="false">Kontakty
                                </a>
                                <p class="idsk-crossroad-subtitle" aria-hidden="false">Máte otázky týkajúce sa
                                    administrácie? Kontaktujte nás.
                                </p>
                                <hr class="idsk-crossroad-line" aria-hidden="true" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>


    <div data-module="idsk-footer-extended">
        <footer class="idsk-footer-extended  ">
            <div class="idsk-footer-extended-main-content">
                <div class="govuk-width-container">
                    <div class="govuk-grid-column-full">
                        <div class="idsk-footer-extended-description-panel">
                            <div class="idsk-footer-extended-meta-item">
                                <ul class="idsk-footer-extended-inline-list ">
                                    <li class="idsk-footer-extended-inline-list-item">
                                        <a class="govuk-link" title="Pomoc" href="#">
                                            Pomoc
                                        </a>
                                    </li>
                                    <li class="idsk-footer-extended-inline-list-item">
                                        <a class="govuk-link" title="Cookies" href="#">
                                            Cookies
                                        </a>
                                    </li>
                                    <li class="idsk-footer-extended-inline-list-item">
                                        <a class="govuk-link" title="Kontakty" href="#">
                                            Kontakty
                                        </a>
                                    </li>
                                    <li class="idsk-footer-extended-inline-list-item">
                                        <a class="govuk-link" title="Mapa Stránky" href="#">
                                            Mapa Stránky
                                        </a>
                                    </li>
                                    <li class="idsk-footer-extended-inline-list-item">
                                        <a class="govuk-link" title="RSS" href="#">
                                            RSS
                                        </a>
                                    </li>
                                    <li class="idsk-footer-extended-inline-list-item">
                                        <a class="govuk-link" title="Vyhlásenie o prístupnosti" href="#">
                                            Vyhlásenie o prístupnosti
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="govuk-grid-column-two-thirds idsk-footer-extended-info-links">
                                <p class="idsk-footer-extended-frame">Vytvorené v súlade s
                                    <a class="govuk-link" title="Jednotným dizajn manuálom elektronických služieb."
                                        href="#">
                                        Jednotným dizajn manuálom elektronických služieb.
                                    </a>
                                </p>

                            </div>
                            <div class="govuk-grid-column-one-third idsk-footer-extended-logo-box">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <script>window.GOVUKFrontend.initAll()</script>

</body>

</html>