<!DOCTYPE html>
<html lang="sk" class="govuk-template app-no-canvas-background">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />


  {% load static %}
  <title>Ukážka pre mesto XYZ</title>
  <link rel="stylesheet" href="{% static 'MainPage/idsk-frontend-2.11.0.min.css'%}">
  <link rel="stylesheet" href="{% static 'MainPage/style.css'%}">

  <script src="{% static 'MainPage/idsk-frontend.min.js'%}"></script>

</head>

<body class="govuk-template__body ">

  <header class="idsk-header-web " data-module="idsk-header-web">
    <div class="idsk-header-web__scrolling-wrapper">
      <!-- Warning Banner Starts Here -->
      <div class="idsk-header-web__banner idsk-header-web__banner--warning">
        <div class="govuk-width-container">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <div class="govuk-body-s idsk-header-web__banner-title">
                <div class="idsk-header-web__warning-icon"></div>
                Upozornenie: Toto je testovacia verzia a slúži výhradne na demonštračné účely. Všetky údaje a interakcie
                na tejto stránke sú fiktívne a riadia sa podľa zákona č. 18/2018 Z. z. o ochrane osobných údajov.
              </div>
              <button class="idsk-header-web__banner-close" aria-label="Zavrieť banner"><span
                  class="idsk-header-web__menu-close"></span></button>
            </div>
          </div>
        </div>
      </div>
      <!-- Warning Banner Ends Here -->
      <div class="idsk-header-web__tricolor"></div>
      <div class="idsk-header-web__brand ">
        <div class="govuk-width-container">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <div class="idsk-header-web__brand-gestor">
                <span class="govuk-body-s idsk-header-web__brand-gestor-text">
                  Testovacia stránka verejnej správy
                </span>
              </div>
              <div class="idsk-header-web__brand-spacer"></div>
              <div class="idsk-header-web__brand-language">
                <button class="idsk-header-web__brand-language-button" aria-label="Rozbaliť jazykové menu"
                  aria-expanded="false" data-text-for-hide="Skryť jazykové menu"
                  data-text-for-show="Rozbaliť jazykové menu">
                  Slovenčina
                  <span class="idsk-header-web__link-arrow"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="idsk-header-web__main">
        <div class="govuk-width-container">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-grid-column-one-third-from-desktop">
              <div class="idsk-header-web__main-headline">
                <a href="/" title="Odkaz na úvodnú stránku">
                  <img src="{%static 'MainPage/assets/images/slovenskosk.png'%}" alt="ID-SK Frontend"
                    class="idsk-header-web__main-headline-logo">

                </a>

                <button class="idsk-button idsk-header-web__main-headline-menu-button" aria-label="Rozbaliť menu"
                  aria-expanded="false" data-text-for-show="Rozbaliť menu" data-text-for-hide="Zavrieť menu">
                  Menu
                  <span class="idsk-header-web__menu-open"></span>
                  <span class="idsk-header-web__menu-close"></span>
                </button>
              </div>
            </div>

            <div class="govuk-grid-column-two-thirds">
              <div class="idsk-header-web__main-action">
                <div class="idsk-header-web__main--buttons">
                  <button type="button" class="idsk-button idsk-header-web__main--login-logoutbtn"
                    data-module="idsk-button">
                    Elektronické služby
                  </button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="idsk-header-web__nav--divider"></div>
      <div class="idsk-header-web__nav idsk-header-web__nav--mobile ">
        <div class="govuk-width-container">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
            </div>
            <div class="govuk-grid-column-full">
              <!-- Navigation block -->
              <nav class="">
                <!-- Unordered list to hold the navigation items -->
                <ul class="idsk-header-web__nav-list" aria-label="Hlavná navigácia">
                  <!-- Loop through each category passed from the context -->
                  {% for category in categories %}
                  <li class="idsk-header-web__nav-list-item">
                    <!-- Check if the current category has subcategories -->
                    {% if category.subcategories.all %}
                    <!-- This link acts as a dropdown trigger for subcategories -->
                    <a class="govuk-link idsk-header-web__nav-list-item-link" href="#" title="{{ category.name }}"
                      aria-label="Rozbaliť {{ category.name }} menu" aria-expanded="false"
                      data-text-for-hide="Zavrieť {{ category.name }} menu"
                      data-text-for-show="Rozbaliť {{ category.name }} menu">
                      {{ category.name }}
                      <!-- Visual elements for the link indicating a dropdown -->
                      <div class="idsk-header-web__link-arrow"></div>
                      <div class="idsk-header-web__link-arrow-mobile"></div>
                    </a>
                    <!-- Submenu container for subcategories -->
                    <div class="idsk-header-web__nav-submenulite">
                      <!-- Unordered list to hold subcategories -->
                      <ul class="idsk-header-web__nav-submenulite-list" aria-label="{{ category.name }} submenu">
                        <!-- Loop through each subcategory of the current category -->
                        {% for subcategory in category.subcategories.all %}
                        <li class="idsk-header-web__nav-submenulite-list-item">
                          <!-- Link to the subcategory page -->
                          <a class="govuk-link idsk-header-web__nav-submenulite-list-item-link"
                            href="{{ subcategory.link }}" title="{{ subcategory.name }}">
                            <span>{{ subcategory.name }}</span>
                          </a>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                    <!-- If there are no subcategories, just display a regular link -->
                    {% else %}
                    <a class="govuk-link idsk-header-web__nav-list-item-link"
                      href="/kategoria/kat={{ category.id|slugify }}/zivotna=null/komu=null/oddelenie=null/text=null"
                      title="{{ category.name }}">
                      {{ category.name}}
                    </a>
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
              </nav>
            </div>
          </div>

        </div>
      </div>

    </div>
  </header>

  <style>
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border: none;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 20px;

      width: 240px;
      /* Alebo iná šírka podľa potreby */
      height: 120px;
      /* Alebo iná výška podľa potreby */
      text-align: center;
      font-size: 16px;
      text-decoration: none;
      color: #000;
      transition: transform 0.2s;
      box-sizing: border-box;
      /* Uistite sa, že padding a border sú zahrnuté do šírky karty */
      margin: 5px;
      /* Malý priestor medzi kartami */
      flex: 0 1 calc(25% - 10px);
      /* Flexibilný rast, flexibilný základ, automatická šírka s odpočítaním margin */
    }

    .card:hover {
      transform: scale(1.05);
    }

    .card i {
      font-size: 3em;
      /* Veľkosť ikony */
      color: #005ea5;
      /* Farba ikony */
    }

    .card p {
      font-weight: bold;
      margin-top: 10px;
    }

    @media (max-width: 767px) {
      .card {
        flex: 0 1 calc(100% - 10px);
        /* 1 karta na celú šírku */
      }
    }

    /* Mediá query pre stredne veľké obrazovky (napr. tablety) */
    @media (min-width: 768px) and (max-width: 991px) {
      .card {
        flex: 0 1 calc(50% - 10px);
        /* 2 karty v riadku */
      }
    }

    /* Mediá query pre veľké obrazovky (od 992px a viac) */
    @media (min-width: 992px) {
      .card {
        flex: 0 1 calc(25% - 10px);
        /* 4 karty v riadku */
      }
    }

    .govuk-grid-column-one-half {
      /* Zmena pre malé obrazovky */
      flex: 0 1 100%;
      max-width: 100%;
      box-sizing: border-box;
      padding: 0 15px;
      /* Pre prípad, že chcete zachovať nejaký vnútorný priestor */
    }

    @media (min-width: 768px) {
      .govuk-grid-column-one-half {
        /* Zmena pre stredné a veľké obrazovky */
        flex: 0 1 50%;
        max-width: 50%;
      }
    }
  </style>


  <div class="govuk-width-container">

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">

      <div class="px-4 py-5 my-5 text-center" style="
      background-image: url('/static/MainPage/assets/images/kosice.jpg?width=3440;height=840');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100vw;
      height: 350px;
      margin-left: calc(-50vw + 50%);
      position: relative;
     ">
      </div>

      <div data-module="idsk-intro-block ">
        <div class="idsk-intro-block  ">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-grid-column ">

              <h2 class="govuk-heading-xl" style="margin-top: 50px; margin-bottom : 20px;">
                Vitajte ako vám môžeme pomôcť?
              </h2>
              <p class="govuk-body"> Toto je testovacia verzia a slúži výhradne na demonštračné účely. Všetky údaje a
                interakcie na tejto stránke sú fiktívne a riadia sa podľa zákona č. 18/2018 Z. z. o ochrane osobných
                údajov.
              </p>
              <div data-module="idsk-search-component" class="idsk-search-component">
                <label for="intro-block-search">Zadajte hľadaný výraz</label>
                <input class="govuk-input idsk-search-component__input" id="intro-block-search" name="search" type="search">
                <button type="submit" class="idsk-button idsk-search-component__button" id="search-button">
                    <span class="govuk-visually-hidden">Vyhľadávanie</span>
                </button>
              </div>

              <div>
                <ul class="idsk-intro-block__list__ul">
                  <li class="idsk-intro-block__bottom-menu__li govuk-caption-m">
                    <span>Hľadáte toto?</span>
                  </li>
                  <li class="idsk-intro-block__list__li">
                    <a class="govuk-link idsk-intro-block__list__a" href="#" title="Aktuality z obce">
                      Aktuality z obce
                    </a>
                  </li>
                  <li class="idsk-intro-block__list__li">
                    <a class="govuk-link idsk-intro-block__list__a" href="#" title="Vedenie obce">
                      Vedenie obce
                    </a>
                  </li>
                  <li class="idsk-intro-block__list__li">
                    <a class="govuk-link idsk-intro-block__list__a" href="#" title="Rozpočet a financie">
                      Rozpočet a financie
                    </a>
                  </li>

                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>

      <hr class="idsk-hr-separator govuk-!-margin-bottom-6">

      <div class="govuk-grid-row" style="margin-top: 1px;">
        <h2 class="govuk-heading-l" style="margin-bottom: 25px; margin-left:15px">Čo potrebujem vybaviť</h2>
        <p class="govuk-body-m" style="margin-left:15px">Prehľadné rozdelenie služieb umožňuje rýchly prístup k
          informáciám, ktoré potrebujete. Vyberte si kategóriu, ktorá zodpovedá vašej situácii, a získajte všetky
          potrebné podrobnosti pre jednoduché a efektívne vybavenie vašich požiadaviek.</p>
        <div class="govuk-grid-row" style="display: flex; flex-wrap: wrap; margin-right: -5px; margin-left: -5px;">
          {% for situation in life_situations %}
          <a href="kategoria/kat=null/zivotna={{ situation.id|slugify }}/komu=null/oddelenie=null/text=null"
            class="card">
            <i class="{% if situation.icon_text %}{{ situation.icon_text }}{% else %}fa fa-file{% endif %}"></i>
            <p>{{ situation.name }}</p>
          </a>
          {% endfor %}
        </div>
      </div>


      <hr class="idsk-hr-separator govuk-!-margin-bottom-6">

      <div class="govuk-grid-row" style="margin-top: 20px;">
        <h2 class="govuk-heading-l" style="margin-bottom: 25px; margin-left:15px">Služby podla oddelenia</h2>
        <p class="govuk-body-m" style="margin-left:15px">Každé oddelenie poskytuje špecifické služby. Vyberte oddelenie
          príslušné k vašim potrebám a objavte všetky dostupné možnosti a postupy, ktoré vám pomôžu dosiahnuť váš cieľ.
        </p>
        <div class="govuk-grid-row" style="display: flex; flex-wrap: wrap; margin-right: -5px; margin-left: -5px;">
          {% for department in departments %}
          <a href="kategoria/kat=null/zivotna=null/komu=null/oddelenie={{ department.id|slugify }}/text=null"
            class="card" style="margin-left: 20px;">
            <i class="{% if department.icon_text %}{{ department.icon_text }}{% else %}fa fa-file{% endif %}"></i>
            <p>{{ department.name }}</p>
          </a>
          {% endfor %}
        </div>
      </div>


      <hr class="idsk-hr-separator govuk-!-margin-bottom-6">

      <div class="govuk-grid-row" style="margin-top: 20px;">
        <h2 class="govuk-heading-l" style="margin-bottom: 25px; margin-left:15px">Hľadám službu ako </h2>
        <p class="govuk-body-m" style="margin-left:15px">Či už ste občan, podnikateľ, alebo rodič, naše služby sú
          prispôsobené rôznym cieľovým skupinám. Vyberte si skupinu, ktorej patríte, a získajte informácie a služby,
          ktoré sú pre vás najrelevantnejšie.</p>
        <div class="govuk-grid-row" style="display: flex; flex-wrap: wrap; margin-right: -5px; margin-left: -5px;">
          {% for audience in target_audiences %}
          <a href="kategoria/kat=null/zivotna=null/komu={{ audience.id|slugify }}/oddelenie=null/text=null" class="card"
            style="margin-left: 20px;">
            <i class="{% if audience.icon_text %}{{ audience.icon_text }}{% else %}fa fa-file{% endif %}"></i>
            <p>{{ audience.name }}</p>
          </a>
          {% endfor %}
        </div>
      </div>

      <hr class="idsk-hr-separator govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-l">Aktuality</h2>
      <p class="govuk-body-m">
        Ostaňte informovaní o najnovších správach, dôležitých oznamoch a aktualizáciách služieb. Naša sekcia Aktuality
        vám prinesie všetko dôležité, čo by ste mali vedieť pre efektívne využívanie našich služieb. Zistite, čo je
        nové, a uistite sa, že máte najaktuálnejšie informácie.
      </p>

      {% if hero_article %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="idsk-card idsk-card-hero">
            <a href="/clanok/{{ hero_article.id }}" title="{{ hero_article.title }}">
              {% if hero_article.image %}
              <img class="idsk-card-img idsk-card-img-hero" src="{{ hero_article.image.url }}"
                alt="{{ hero_article.title }}" aria-hidden="true" />
              {% else %}
              <img class="idsk-card-img idsk-card-img-hero"
                src="{% static 'MainPage/assets/images/image-placeholder.jpg'%}" alt="Placeholder Image"
                aria-hidden="true" />
              {% endif %}
            </a>

            <div class="idsk-card-content idsk-card-content-hero">
              <!-- Detaily článku -->
              <div class="idsk-heading idsk-heading-hero">
                <a href="/clanok/{{ hero_article.id }}" class="idsk-card-title govuk-link"
                  title="{{ hero_article.title }}">{{ hero_article.title }}</a>
              </div>
              <p class="idsk-body idsk-body-hero">
                {{ hero_article.content|truncatewords:20 }}
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="govuk-grid-row">


        {% for article in other_articles %}
        <div class="govuk-grid-column-one-third">
          <div class="idsk-card idsk-card-secondary">
            <a href="/clanok/{{ article.id }}" title="{{ article.title }}">
              {% if article.image %}
              <img class="idsk-card-img idsk-card-img-secondary" src="{{ article.image.url }}" alt="{{ article.title }}"
                aria-hidden="true" style="width:320px; height:240px;" />
              {% else %}
              <img class="idsk-card-img idsk-card-img-secondary"
                src="{% static 'MainPage/assets/images/image-placeholder.jpg'%}" alt="Placeholder Image"
                aria-hidden="true" style="width:320px; height:240px;" />
              {% endif %}

            </a>

            <div class="idsk-card-content idsk-card-content-secondary">
              <div class="idsk-card-meta-container">
                <span class="idsk-card-meta idsk-card-meta-date">
                  <a href="#" class="govuk-link" title="Pridané dňa: {{ article.created_at|date:'d.m.Y' }}">
                    {{ article.created_at|date:"d.m.Y" }}
                  </a>
                </span>
                <span class="idsk-card-meta idsk-card-meta-tag"><a href="" class="govuk-link"
                    title="Tag 1">{{article.category}}</a></span>
              </div>

              <div class="idsk-heading idsk-heading-secondary">
                <a href="/clanok/{{ article.id }}" class="idsk-card-title govuk-link" title="{{ article.title }}">
                  {{article.title }}</a>
              </div>

              <p class="idsk-body idsk-body-secondary">
                {{ article.content|truncatewords:10 }}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <hr class="idsk-hr-separator govuk-!-margin-bottom-6">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-5">
          <h2 class="govuk-heading-l">Návody pre občanov</h2>
          <p class="govuk-body-m">Krok za krokom vám ukážeme, ako elektronicky podať rôzne tlačivá a iné dokumenty. Viac
            informácií nájdete na <a class="govuk-link"
              href="https://mesto.slovakosoft.sk/kategoria/kat%3D31/zivotna%3Dnull/komu%3Dnull/oddelenie%3Dnull/text%3Dnull/"
              title="podstránke Návody">podstránke Návody</a>.</p>
        </div>

        <div class="govuk-grid-column-one-half">

          <div data-module="idsk-crossroad" class="">
            <div class="idsk-crossroad idsk-crossroad-1">
              {% for article in navody_articles %}
              <div class="idsk-crossroad__item">
                <a href="/clanok/{{ article.id }}" class="govuk-link idsk-crossroad-title" title="{{ article.title }}">
                  {{ article.title }}
                </a>
                <p class="idsk-crossroad-subtitle">
                  {{ article.main_message }}
                </p>
                <hr class="idsk-crossroad-line" />
              </div>
              {% empty %}
              <p>Žiadne články v kategórii "Návody".</p>
              {% endfor %}

            </div>
          </div>
        </div>
        <div class="govuk-grid-column-one-half idsk-intro-block">
          <div class="app-pane-blue">
            <h4 class="govuk-heading-l govuk-!-margin-bottom-2">B2G služby pre podnikateľov</h4>
            <ul class="idsk-intro-block__side-menu__ul">
              {% for article in navody_articles_podnikatel %}
              <li class="idsk-intro-block__side-menu__li">
                <a class="idsk-intro-block__side-menu__a" href="/clanok/{{ article.id }}" title="{{ article.title }}">
                  {{ article.title }}
                </a>
              </li>
              {% empty %}
              <li>Žiadne články pre podnikateľov v kategórii "Návody".</li>
              {% endfor %}
            </ul>

          </div>
        </div>
      </div>


      <hr class="idsk-hr-separator-until-tablet govuk-!-margin-bottom-6">



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-5">
          <h2 class="govuk-heading-l">Elektronické podanie tlačív</h2>
          <p class="govuk-body-m">
            Všetky informácie o elektronickom podaní tlačív v podmienkach SR na jednom mieste. Viac informácií nájdete
            na
            <a class="govuk-link" href="#" title="podstránke Elektronické podanie tlačív">podstránke Elektronické
              podanie tlačív</a>.
          </p>
        </div>
        <div class="govuk-grid-column-full">

          <div data-module="idsk-crossroad" class="">
            <div class="idsk-crossroad idsk-crossroad-2">
              <div class="idsk-crossroad__item ">
                <a href="#" class="govuk-link idsk-crossroad-title" title="Podanie daní z nehnuteľností"
                  aria-hidden="false">Podanie daní z nehnuteľností
                </a>
                <p class="idsk-crossroad-subtitle" aria-hidden="false">Podajte daň z nehnuteľnosti online a ušetrite
                  čas.
                </p>
                <hr class="idsk-crossroad-line" aria-hidden="true" />
              </div>
              <div class="idsk-crossroad__item ">
                <a href="#" class="govuk-link idsk-crossroad-title" title="Elektronické podanie DPH"
                  aria-hidden="false">Elektronické podanie DPH
                </a>
                <p class="idsk-crossroad-subtitle" aria-hidden="false">Rýchly a pohodlný spôsob, ako podať DPH online.
                </p>
                <hr class="idsk-crossroad-line" aria-hidden="true" />
              </div>
              <div class="idsk-crossroad__item ">
                <a href="#" class="govuk-link idsk-crossroad-title" title="Elektronické podanie daňového priznania"
                  aria-hidden="false">Elektronické podanie daňového priznania
                </a>
                <p class="idsk-crossroad-subtitle" aria-hidden="false">Komplexné riešenie pre podnikateľov a fyzické
                  osoby.
                </p>
                <hr class="idsk-crossroad-line" aria-hidden="true" />
              </div>
            </div>
            <div class="idsk-crossroad idsk-crossroad-2">
              <div class="idsk-crossroad__item ">
                <a href="#" class="govuk-link idsk-crossroad-title" title="Podanie žiadosti o dotácie"
                  aria-hidden="false">Podanie žiadosti o dotácie
                </a>
                <p class="idsk-crossroad-subtitle" aria-hidden="false">Využite online platformu na podanie žiadostí.
                </p>
                <hr class="idsk-crossroad-line" aria-hidden="true" />
              </div>
              <div class="idsk-crossroad__item ">
                <a href="#" class="govuk-link idsk-crossroad-title" title="Elektronické podanie ročnej uzávierky"
                  aria-hidden="false">Elektronické podanie ročnej uzávierky
                </a>
                <p class="idsk-crossroad-subtitle" aria-hidden="false">Jednoduché a rýchle riešenie pre podnikateľov.
                </p>
                <hr class="idsk-crossroad-line" aria-hidden="true" />
              </div>
              <div class="idsk-crossroad__item ">
                <a href="#" class="govuk-link idsk-crossroad-title" title="Kontakty" aria-hidden="false">Kontakty
                </a>
                <p class="idsk-crossroad-subtitle" aria-hidden="false">Máte otázky? Kontaktujte nás.
                </p>
                <hr class="idsk-crossroad-line" aria-hidden="true" />
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="idsk-blue-banner">
        <div class="idsk-blue-banner__wrapper">
          <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6 idsk-blue-banner_description">
            <h2 class="govuk-heading-l" style="color: white !important;">Budúcnosť je tu!</h2>
            <div class="govuk-caption-l">
              Prečo strácať čas čakaním na úrade, keď môžete všetko vybaviť z pohodlia domova? Objavte výhody
              elektronického vybavovania a prejdite na digitálny spôsob.
            </div>
            <br>
            <a href="#" class="govuk-link" title="Zistiť viac o elektronických službách">Zistiť viac o elektronických
              službách</a>
            <br>
          </div>
          <div class="govuk-grid-column-one-third idsk-blue-banner__image">

          </div>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-5">
          <h2 class="govuk-heading-l">Povinné zverejnovanie faktúr a zmúv</h2>
          <p class="govuk-body-m">
            V súlade so zákonom č. 123/2017 o transparentnosti verejnej správy v digitálnom priestore, sú všetky
            dokumenty zverejnené na tejto stránke verejne dostupné. Tento prístup zabezpečuje, že informácie sú
            prístupné všetkým občanom a zároveň podporuje digitálnu inkluzivitu a transparentnosť. Ďalšie podrobnosti o
            tomto zákone a jeho implementácii v našej obci nájdete <a class="govuk-link"
              href="https://mesto.slovakosoft.sk/dokumenty/" title="podstránke Informatizácia">na podstránke
              dokumenty</a>.
          </p>

        </div>
        <div class="govuk-grid-column-full">

          <!-- Prvý stĺpec -->
          <div class="govuk-grid-column-half">
            <div data-module="idsk-crossroad" class="">
              <div class="idsk-crossroad idsk-crossroad-2">
                {% for document in documents_column_one %}
                <div class="idsk-crossroad__item">
                  <a href="/dokumenty" class="govuk-link idsk-crossroad-title" title="{{ document.subject }}">{{document.subject }}</a>

                  <p class="idsk-crossroad-subtitle" aria-hidden="false">{{ document.company.name }}</p>
                  <hr class="idsk-crossroad-line" aria-hidden="true" />
                </div>
                {% endfor %}
              </div>
            </div>
          </div>

          <!-- Druhý stĺpec -->
          <div class="govuk-grid-column-half">
            <div data-module="idsk-crossroad" class="">
              <div class="idsk-crossroad idsk-crossroad-2">
                {% for document in documents_column_two %}
                <div class="idsk-crossroad__item">
                  <a href="/dokumenty" class="govuk-link idsk-crossroad-title" title="{{ document.subject }}">{{document.subject }}</a>
                  <p class="idsk-crossroad-subtitle" aria-hidden="false">{{ document.company.name }}</p>
                  <hr class="idsk-crossroad-line" aria-hidden="true" />
                </div>
                {% endfor %}
              </div>
            </div>
          </div>

        </div>
      </div>
    </main>
  </div>

  <div data-module="idsk-footer-extended">
    <footer class="idsk-footer-extended  ">
      <div class="idsk-footer-extended-main-content">
        <div class="govuk-width-container">
          <div class="govuk-grid-column-full">
            <div class="idsk-footer-extended-description-panel">
              <div class="idsk-footer-extended-meta-item">
                <ul class="idsk-footer-extended-inline-list ">
                  <li class="idsk-footer-extended-inline-list-item">
                    <a class="govuk-link" title="Pomoc" href="#">
                      Pomoc
                    </a>
                  </li>
                  <li class="idsk-footer-extended-inline-list-item">
                    <a class="govuk-link" title="Cookies" href="/prihlasenie">
                      Prihlásenie
                    </a>
                  </li>
                  <li class="idsk-footer-extended-inline-list-item">
                    <a class="govuk-link" title="Kontakty" href="#">
                      Kontakty
                    </a>
                  </li>
                  <li class="idsk-footer-extended-inline-list-item">
                    <a class="govuk-link" title="Mapa Stránky" href="#">
                      Mapa Stránky
                    </a>
                  </li>
                  <li class="idsk-footer-extended-inline-list-item">
                    <a class="govuk-link" title="RSS" href="#">
                      RSS
                    </a>
                  </li>
                  <li class="idsk-footer-extended-inline-list-item">
                    <a class="govuk-link" title="Vyhlásenie o prístupnosti" href="#">
                      Vyhlásenie o prístupnosti
                    </a>
                  </li>
                </ul>
              </div>
              <div class="govuk-grid-column-two-thirds idsk-footer-extended-info-links">
                <p class="idsk-footer-extended-frame">Vytvorené v súlade s
                  <a class="govuk-link" title="Jednotným dizajn manuálom elektronických služieb." href="#">
                    Jednotným dizajn manuálom elektronických služieb.
                  </a>
                </p>

              </div>
              <div class="govuk-grid-column-one-third idsk-footer-extended-logo-box">

              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script>window.GOVUKFrontend.initAll()</script>

  <script>
    $(document).ready(function() {
      $('#search-button').click(function(e) {
        e.preventDefault();
        var inputText = $('#intro-block-search').val();
        var encodedText = encodeURIComponent(inputText); // Zakóduje aj diakritiku
        var url = 'https://mesto.slovakosoft.sk/kategoria/kat%3Dnull/zivotna%3Dnull/komu%3Dnull/oddelenie%3Dnull/text%3D' + encodedText;
        window.location.href = url;
    });
  });
</script>
</body>